.cache {
    display: none;
}

.visible {
    display: block;
}

.centrer {
    text-align: center;
    cursor: pointer;
}

.button {
    padding: 12px 28px;
    font-size: 20px;
    color: white;
    border-radius: 8px;
    background-color: #398446;
}

.button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}